<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link href="/static/dist/output.css" rel="stylesheet">
</head>

<body>
    <div>
        {% if not is_login_page %}
        <header class="bg-gray-50">
            <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
                <div class="sm:flex sm:items-center sm:justify-between">
                    <div class="text-center sm:text-left">
                        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
                            Welcome Back, {{ current_user.username }}!
                        </h1>

                        <p class="mt-1.5 text-sm text-gray-500">
                            Record the fun you had! 🎉
                        </p>
                    </div>

                    <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">
                        

                        <form action="{{ url_for('logout') }}" method="POST" class="ml-auto">
                            <button
                                class="block rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
                                type="submit"
                            >
                                Logout
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li
                style="color: {% if 'danger' in message %}red{% elif 'success' in message %}green{% else %}black{% endif %};">
                {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>

    <div>
        {% block content %}{% endblock %}
    </div>
</body>

</html>