{% extends 'base.html' %}

{% block title %}Club Page{% endblock %}

{% block heading %}{% endblock %}

{% block content %}

<div class="hidden sm:block">
    <div class="border-b border-gray-200">
        <nav class="-mb-px flex gap-6" aria-label="Tabs">
            <button data-target="clubs"
                class="shrink-0 border-b-2 border-transparent px-1 pb-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 focus:outline-none focus:border-sky-500 focus:text-sky-600">
                Clubs
            </button>


            <button data-target="viewdeletetimesheet"
                class="shrink-0 border-b-2 border-transparent px-1 pb-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 focus:outline-none focus:border-sky-500 focus:text-sky-600">
                View/Delete Timesheet
            </button>

            <button data-target="addtimesheet"
                class="shrink-0 border-b-2 border-transparent px-1 pb-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 focus:outline-none focus:border-sky-500 focus:text-sky-600">
                Add Timesheet
            </button>
        </nav>
    </div>
</div>

<!-- Clubs ****************************************************************************************************** -->
<div id="clubs" class="tab-content">
    <div class="overflow-x-auto rounded-lg border border-gray-200 px-72">
        <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
            <thead class="text-center">
                <tr>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Club name
                    </th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Position
                    </th>
                </tr>
            </thead>

            <tbody class="divide-y divide-gray-200 text-center">
                {% for clubs in student_clubs %}
                <tr>
                    <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        {{ clubs[0] }}
                    </td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                        {{ clubs[1] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!-- Deletetimesheet************************************************************************************************* -->
<div id="viewdeletetimesheet" class="tab-content hidden">
    <div class="overflow-x-auto rounded-lg border border-gray-200 px-72">
        <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
            <thead class="text-center">
                <tr>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Event Name
                    </th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Start Date
                    </th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        End Date
                    </th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Venue
                    </th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Logistics
                    </th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Description
                    </th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Skills
                    </th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Hours
                    </th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Approval Status
                    </th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Delete
                    </th>
                </tr>
            </thead>

            <tbody class="divide-y divide-gray-200 text-center">
                {% for timesheet in alltimesheets %}
                <tr>
                    <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        {{ timesheet[0] }}
                    </td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                        {{ timesheet[1] }}
                    </td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                        {{ timesheet[2] }}
                    </td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                        {{ timesheet[3] }}
                    </td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                        {{ timesheet[4] }}
                    </td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                        {{ timesheet[5] }}
                    </td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                        {{ timesheet[6] }}
                    </td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                        {{ timesheet[7] }}
                    </td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                        {{ timesheet[8] }}
                    </td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                        <form action="/delete_timesheet" method="POST">
                            <input type="hidden" name="event_id" value="{{ timesheet[9] }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<!-- Add Timesheet ********************************************************************************************** -->

<div id="addtimesheet" class="tab-content hidden">
        <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
                <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
                    <form action="{{ url_for('add_timesheet') }}" method="post" class="space-y-4">
                        <div>
                            <label class="sr-only" for="eventName">Event Name</label>
                            <select id="eventName" name="eventName" onchange="setEventId(this.value)" class="w-full rounded-lg border-gray-200 p-3 text-sm"></select>
                            <input type="hidden" id="eventId" name="eventId">
                        </div>

                        <div>
                            <label class="sr-only" for="skills">Skills</label>
                            <input type="text" id="skills" name="skills" maxlength="48" class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Skills">
                        </div>

                        <div>
                            <label class="sr-only" for="description">Description</label>
                            <textarea id="description" name="description" maxlength="298" class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Description"></textarea>
                        </div>

                        <div>
                            <label class="sr-only" for="hours">Number of Hours</label>
                            <input type="number" id="hours" name="hours" class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Number of Hours">
                        </div>

                        <div class="mt-4">
                            <input type="submit" value="Submit" class="inline-block w-full rounded-lg bg-black px-5 py-3 font-medium text-white sm:w-auto">
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>

<script>

    var eventslist = JSON.parse('{{ eventbyclubsofstudents | tojson | safe }}');
    console.log(eventslist);

    // Populate the dropdown with event names
    var select = document.getElementById("eventName");
    for (var i = 0; i < eventslist[0].length; i++) {
        var opt = eventslist[0][i][1];  // Event name
        var el = document.createElement("option");
        el.textContent = opt;
        el.value = opt;
        select.appendChild(el);
    }

    // Function to set the event id when an event name is selected
    function setEventId(eventName) {
        for (var i = 0; i < eventslist[0].length; i++) {
            if (eventslist[0][i][1] === eventName) {
                document.getElementById("eventId").value = eventslist[0][i][0];  // Event id
                console.log(eventId);
                break;
            }
        }
    }
</script>

<!-- Scripts ******************************************************************************************************** -->
<script>
    var buttons = document.querySelectorAll('button[data-target]');
    var contents = document.querySelectorAll('.tab-content');

    buttons.forEach(function (button) {
        button.addEventListener('click', function () {
            var target = this.dataset.target;

            contents.forEach(function (content) {
                if (content.id === target) {
                    content.classList.remove('hidden');
                } else {
                    content.classList.add('hidden');
                }
            });
        });
    });
</script>

{% endblock %}