{% extends 'base.html' %}

{% block title %}Club Page{% endblock %}

{% block heading %}{% endblock %}

{% block content %}
<div class="container mx-auto px-4">
    <h1 class="text-4xl font-bold mb-4">DoSA - Admin</h1>
    <h5 class="text-xs mb-4">Dean of Student Affairs</h5>

    <div class="flex mb-4">
        <button class="tab-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            data-target="allevents">All Events</button>
        <button class="tab-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2"
            data-target="eventapprovals">Events Approvals</button>
    </div>

    <div id="allevents" class="tab-content hidden">
        <table>
            <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Event Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Venue</th>
                    <th>Logistics</th>
                    <th>Approval Status</th>
                    <th>Club ID</th>
                </tr>
            </thead>
            <tbody>
                {% for evdetails in event_details %}
                <tr>
                    <td>{{ evdetails[0] }}</td>
                    <td>{{ evdetails[1] }}</td>
                    <td>{{ evdetails[2] }}</td>
                    <td>{{ evdetails[3] }}</td>
                    <td>{{ evdetails[4] }}</td>
                    <td>{{ evdetails[5] }}</td>
                    <td>{{ evdetails[6] }}</td>
                    <td>{{ evdetails[7] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div id="eventapprovals" class="tab-content">
        <table>
            <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Event Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Venue</th>
                    <th>Logistics</th>
                    <th>Club ID</th>
                    <th>Approval Status</th>
                    <th>Approve</th>
                </tr>
            </thead>
            <tbody>
                {% for evpending in event_pending %}
                <tr>
                    <td>{{ evpending[0] }}</td>
                    <td>{{ evpending[1] }}</td>
                    <td>{{ evpending[2] }}</td>
                    <td>{{ evpending[3] }}</td>
                    <td>{{ evpending[4] }}</td>
                    <td>{{ evpending[5] }}</td>
                    <td>{{ evpending[7] }}</td>
                    <td>{{ evpending[6] }}</td>
                    <td>
                        <form action="/approve_event" method="post">
                            <input type="hidden" name="eventId" value="{{ evpending[0] }}">
                            <input type="hidden" name="isApproved" value="1">
                            <input type="submit" value="Approve"
                                style="text-decoration: underline; color: green; cursor: pointer;">
                        </form>
                        <form action="/approve_event" method="post" style="margin-left: 10px;">
                            <input type="hidden" name="eventId" value="{{ evpending[0] }}">
                            <input type="hidden" name="isApproved" value="0">
                            <input type="submit" value="Reject"
                                style="text-decoration: underline; color: red; cursor: pointer;">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>





</div>

<script>
    var buttons = document.querySelectorAll('.tab-button');
    var contents = document.querySelectorAll('.tab-content');

    buttons.forEach(function (button) {
        button.addEventListener('click', function () {
            var target = this.dataset.target;

            contents.forEach(function (content) {
                if (content.id === target) {
                    content.classList.remove('hidden');
                } else {
                    content.classList.add('hidden');
                }
            });
        });
    });
</script>

{% endblock %}