{% extends 'base.html' %}

{% block title %}Login{% endblock %}

<!-- {% block heading %}{% endblock %} -->

{% block content %}

<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg">
      <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">
        Co-Curriculum Transcript System
      </h1>
  
      <p class="mx-auto mt-4 max-w-md text-center text-gray-500">
        Record the fun you had and skills you gained from your co-curriculum activities!
      </p>
  
      <form
        action="{{ url_for('login') }}"
        method="post"
        class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8"
      >
        <p class="text-center text-lg font-medium">Sign in to your account</p>
  
        <div>
          <label for="Username" class="sr-only">Username</label>
  
          <div class="relative">
            <input
              type="text"
              id="Username"
              name="username"
              class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
              placeholder="Enter username"
              required
            />
          </div>
        </div>
  
        <div>
          <label for="Password" class="sr-only">Password</label>
  
          <div class="relative">
            <input
              type="password"
              id="Password"
              name="password"
              class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
              placeholder="Enter password"
              required
            />
          </div>
        </div>
  
        <button
          type="submit"
          class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white"
        >
          Sign in
        </button>
      </form>
    </div>
  </div>

{% endblock %}
